/* game board table */
* {
	margin: auto;
	text-align: center;
}

#board {
	background-color: rgb(255, 255, 255);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	padding: 18px;
}

#board td {
	width: 70px;
	height: 70px;
	border: solid 5px rgb(18, 52, 245);
	margin-top: 30px;
	background: rgb(18, 52, 245);
	border-radius: 12px;
}

h1 {
	text-align: center;
	font-family: 'Fredoka One', cursive;
	text-transform: uppercase;
	font-size: 55px;
	margin-bottom: 25px;
	margin-top: 20px;
}

span {
	font-size: 85px;
	color: red;
}
/* pieces are div within game table cells: draw as colored circles */

.piece {
	/* TODO: make into circles */
	width: 85%;
	height: 85%;
	border-radius: 50%;
	margin-top: 5px;

	position: relative;
	animation-name: drop;
	animation-duration: 1000ms;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
	background-color: rgb(221, 57, 57);
	border: solid 4px rgb(173, 0, 0);
}

.p2 {
	background-color: rgb(250, 247, 100);
	border: solid 4px rgb(253, 222, 80);
}

/* column-top is table row of clickable areas for each column */

#column-top td {
	border: solid 1.5px rgb(206, 206, 88);
	border-radius: 50%;
	background-color: lightgoldenrodyellow;
}

#column-top td:hover {
	background-color: paleturquoise;
}

#restart {
	margin: auto;
	margin-top: 25px;
	padding: 12px;
	border-radius: 10px;
}

@keyframes drop {
	0% {
		bottom: 300%;
	}
	30% {
		bottom: 15%;
	}
	40% {
		bottom: 0;
	}
}
